<!--
*
* Based on one region containing 6 Teams currently with hard coded data
* This is a mock data graph to display the number of build jobs
* including active and inactive per Team
* This chart will be interactive and allow the user to click on a
* bar which will direct to a more detailed graph showing the
* the active and inactive graphs for that one Team
*
-->

<!DOCTYPE html>
<meta charset="utf-8">
{% load staticfiles %}
<html>
	<head>
		<title>ComponentBuilJobs</title>
		<link rel="stylesheet" type="text/css" href="{% static '/static/customCSS/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/static/css/base/core.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/static/css/base/components/header.css' %}">
		<script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<meta charset="utf-8">

	</head>
	<body>

		<div id="container" >
			<div class="lotusui30">

                <div class="lotusBanner"></div>

                <div class="lotusTitleBar2">
                    <div class="lotusInner">
                        <img src="/static/customImages/ibmLogoBlack30.png">
                    </div>
                </div>

                <div class="navContainer">
                    <div class="lotusMenu">
                        <div class="lotusMenuSection">
                            <h1 class="lotusHeading"> <a href="buildjobs" class ="button">By Team </a></h1>
                        </div>
                        <div class="lotusTwistyOpenMenu">
                            <ul>
                                <li><a href="#.html" class ="button">Connections Team</a></li>
                                <ul class="lotusMenuSubsection">
                                    <li><a href="#.html" class ="button">Connections</a></li>
                                    <li><a href="#.html" class ="button">Social Contacts</a></li>
                                </ul>
                                <li><a href="#.html" class ="button">Cloud Platfrom Team</a></li>
                                <ul class="lotusMenuSubsection">
                                    <li><a href="#.html" class ="button">BSS Core</a></li>
                                    <li><a href="#.html" class ="button">BSS UI</a></li>
                                </ul>
                                <li><a href="#.html" class ="button">IBM Docs Team</a></li>
                                <ul class="lotusMenuSubsection">
                                    <li><a href="#.html" class ="button">Docs Editor</a></li>
                                    <li><a href="#.html" class ="button">Docs Viewer</a></li>
                                </ul>
                                <li><a href="#.html" class ="button">Sametime Team</a></li>
                                <ul class="lotusMenuSubsection">
                                    <li><a href="#.html" class ="button">WebChat</a></li>
                                    <li><a href="#.html" class ="button">Sametime</a></li>
                                    <li><a href="#.html" class ="button">Sametime PC Audio</a></li>
                                    <li><a href="#.html" class ="button">Sametime Meetings</a></li>
                                </ul>
                                <li><a href="#.html" class ="button">Unyte Team</a></li>
                                <ul class="lotusMenuSubsection">
                                    <li><a href="#.html" class ="button">Unyte Meetings</a></li>
                                    <li><a href="#.html" class ="button">Unyte Events</a></li>
                                </ul>
                                <li><a href="#.html" class ="button">Foundations Team</a></li>
                                <ul class="lotusMenuSubsection">
                                    <li><a href="#.html" class ="button">Foundations</a></li>
                                </ul>
                            </ul>
                        </div> <!-- lotusTwistyOpenMenu end -->
                    </div>
                </div>

			<div id="content">
                <h3>Number of Buildjobs per <"Component Name"></h3>
				<svg class="chart"></svg>
				<script src="{% static 'scripts/componentBuildjobs.js' %}"></script>
            </div>

		</div>
	</body>
</html>