<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>

<h1>Quick Links</h1>
<ul>
    <li><a href="api/test">Test Graph Teams</a></li>
{#    <li><a href="api/get_domain_name">get_domain_name</a></li>#}
{#    <li><a href="api/get_regions">get_regions</a></li>#}
    <li><a href="api/get_build_job_collection">get_build_job_collection</a></li>
    <br>
    <li><a href="api/component_graph">Test Graph Components</a></li>
    <li><a href="api/get_build_job_collection_component_names">get_build_job_collection_component_names</a></li>
    <br>
    <li><a href="api/active_inactive_per_team">Test active and inactive per team</a></li>
    <li><a href="api/get_active_inactive_per_team">get_active_inactive_per_team</a></li>
{#    <li><a href="api/get_user_data">get_user_data</a></li>#}
{#    <li><a href="api/get_end_dates">get_end_dates</a></li>#}
{#   <li><a href="api/prepare_graph_data">prepare_graph_data</a></li>#}
</ul>

</body>
</html>
 