<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Team Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static '/static/customCSS/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/base/core.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/base/components/header.css' %}">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <meta charset="utf-8">
</head>
<body>

<div id="container" >
    <div class="lotusui30">

        <div class="lotusBanner"></div>

        <div class="lotusTitleBar2">
            <div class="lotusInner">
                <img src="/static/customImages/ibmLogoBlack30.png">
            </div>
        </div>

        <div class="navContainer">
            <div class="lotusMenu">
                <div class="lotusMenuSection">
                    <h1 class="lotusHeading teams" > By Team </h1>
                </div>
                <div class="lotusTwistyOpenMenu">
                    <ul class="x">
                        <li class="singleTeam">Connections Team</li>
                        <ul class="lotusMenuSubsection">
                            <li class="singleComponent">Connections</li>
                            <li class="singleComponent">Social Contacts</li>
                        </ul>

                        <li class="singleTeam">Cloud Platfrom Team</li>
                        <ul class="lotusMenuSubsection">
                            <li class="singleComponent">BSS Core</li>
                            <li class="singleComponent">BSS UI</li>
                        </ul>

                        <li class="singleTeam">IBM Docs Team</li>
                        <ul class="lotusMenuSubsection">
                            <li class="singleComponent">Docs Editor</li>
                            <li class="singleComponent">Docs Viewer</li>
                        </ul>

                        <li class="singleTeam">Sametime Team</li>
                        <ul class="lotusMenuSubsection">
                            <li class="singleComponent">WebChat</li>
                            <li class="singleComponent">Sametime</li>
                            <li class="singleComponent">Sametime PC Audio</li>
                            <li class="singleComponent">Sametime Meetings</li>
                        </ul>

                        <li class="singleTeam">Unyte Team</li>
                        <ul class="lotusMenuSubsection">
                            <li class="singleComponent">Unyte Meetings</li>
                            <li class="singleComponent">Unyte Events</li>
                        </ul>

                        <li class="singleTeam">Foundations Team</li>
                        <ul class="lotusMenuSubsection">
                            <li class="singleComponent">Foundations</li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>

        <div class="mainContainer">

            <div class="totalBuildJobs"></div>

            <div class="chart"> </div>

            <div class="buildjobUsageGraph"></div>

            <div class="activeInuseServerGraph"></div>



            <!--
                When click on the Team Name in the nav bar two graphs will be displayed
                    - ComponentBuildjobs
                    - activeinactive
                These graphs will sit one on top of the other and will display the component details
                based on the Team Name selected

                Needs:
                - Take the name from the Nav Bar
                - Pass that name to the graphs

                Wants:
                - To have the correct graphs display based on the button pressed
                - prefer only to have 2 HTML pages

                Questions:
                - Do I need to change the JSON data being returned to accommodate both graphs?

            -->

        </div>
    </div>
</div>
</body>


<script src="{% static 'scripts/componentBuildjobs.js' %}"></script>
<script src="{% static 'scripts/buildjobUsage.js' %}"></script>
<script src="{% static 'scripts/activeInuseServers.js' %}"></script>
<script src="{% static 'scripts/totalBuildJobs.js' %}"></script>
<script src="{% static 'scripts/clicks.js' %}"></script>
</html>