<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Team Dashboard</title>
    <link href="//www.ibm.com/favicon.ico" rel="SHORTCUT ICON">
    <link rel="stylesheet" type="text/css" href="{% static '/static/customCSS/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/base/core.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/base/components/header.css' %}">
    <script src="{% static '/static/d3/d3.js' %}"></script>
    <script src="{% static '/static/d3/d3.min.js' %}"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <meta charset="utf-8">
</head>
<body>

<div id="container" >
    <div class="lotusui30">

        <div class="lotusBanner"></div>

        <div class="lotusTitleBar2">
            <div class="lotusInner">
                <img src="/static/customImages/ibmLogoBlack30.png">
            </div>
        </div>

        <div class="navContainer">
            <div class="lotusMenu">
                <div class="lotusMenuSection">
                    <ul class="lotusHeading teams" ><a> By Team</a> </ul>
                </div>
                <div class="lotusTwistyOpenMenu">
                    <li class="singleTeam"><a>Connections Team</a></li>
                    <ul class="lotusMenuSubsection">
                        <li class="singleComponent"><a>Connections</a></li>
                    </ul>
                    <ul class="lotusMenuSubsection">
                        <li class="singleComponent"><a>Social Contacts</a></li>
                    </ul>

                    <li class="singleTeam"><a>Cloud Platform Team</a></li>
                    <ul class="lotusMenuSubsection">
                        <li class="singleComponent"><a>BSS Core</a></li>
                    </ul>
                    <ul class="lotusMenuSubsection">
                        <li class="singleComponent"><a>BSS UI</a></li>
                    </ul>

                    <li class="singleTeam"><a>IBM Docs Team</a></li>
                    <ul class="lotusMenuSubsection">
                        <li class="singleComponent"><a>Docs Editor</a></li>
                    </ul>
                    <ul class="lotusMenuSubsection">
                        <li class="singleComponent"><a>Docs Viewer</a></li>
                    </ul>

                    <li class="singleTeam"><a>SameTime Team</a></li>
                    <ul class="lotusMenuSubsection">
                        <li class="singleComponent"><a>WebChat</a></li>
                    </ul>
                    <ul class="lotusMenuSubsection">
                        <li class="singleComponent"><a>SameTime</a></li>
                    </ul>
                    <ul class="lotusMenuSubsection">
                        <li class="singleComponent"><a>SameTime PC Audio</a></li>
                    </ul>
                    <ul class="lotusMenuSubsection">
                        <li class="singleComponent"><a>SameTime Meetings</a></li>
                    </ul>

                    <li class="singleTeam"><a>Unyte Team</a></li>
                    <ul class="lotusMenuSubsection">
                        <li class="singleComponent"><a>Unyte Meetings</a></li>
                    </ul>
                    <ul class="lotusMenuSubsection">
                        <li class="singleComponent"><a>Unyte Events</a></li>
                    </ul>

                    <li class="singleTeam"><a>Foundations Team</a></li>
                    <ul class="lotusMenuSubsection">
                        <li class="singleComponent"><a>Foundations</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="dd">
            <div class="dropdownRegion">
                <p>Please select a region: </p>
                <select class="regionDropDown">
                    <option value="all">ALL</option>
                    <option value="ie">test1.ie.ibm.com</option>
                    <option value="uk">test1.uk.ibm.com</option>
                </select>
            </div>
            <div id="testDiv"></div>
        </div>

        <div class="mainContainer">
            <div class="totalBuildJobs singleBars" ></div>
            <div class="chart"></div>
            <div class="activeInuseServerGraph"></div>
            <div class="buildjobUsageGraph"></div>

        </div>
    </div>
</div>
</body>

<script src="{% static 'scripts/componentBuildjobs.js' %}"></script>
<script src="{% static 'scripts/buildjobUsage.js' %}"></script>
<script src="{% static 'scripts/activeInuseServers.js' %}"></script>
<script src="{% static 'scripts/totalBuildJobs.js' %}"></script>
<script src="{% static 'scripts/clicks.js' %}"></script>
</html>