body {
    margin: 0;
    padding: 0;
}
html {
  overflow-y: scroll;
}

.navContainer {
    float: left;
    font-family: "Arial", sans-serif;
}
.mainContainer {
    float: left;
    padding: 10px;
    width: 800px;
    font-family: "Arial", sans-serif;
}
.dropdownRegion{
 float: right;
}

ul, li{
    list-style-type: none;
    text-decoration: none;
}
.highlight,
ul:hover, li:hover {
    background-color: #CCCCCC;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    cursor: hand;
    cursor: pointer;
}

.axis path {
    display: none;
}

.axis line {
    stroke: #ccc;
    stroke-opacity: .5;
    shape-rendering: crispEdges;
}

.chart .legend {
    fill: black;
    font: 14px sans-serif;
    text-anchor: start;
    font-size: 12px;
}

.chart .label {
    fill: black;
    font: 14px sans-serif;
    text-anchor: end;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 8px;
    background: rgba(255, 255, 255,1.8);
    color: #000;
    border: double;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(255, 255, 255, 1.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

#container {
    width: 1000px;
    margin: 0 auto;
}

path {
    stroke: #fff;
}

path:hover {
    opacity:0.9;
}

path:hover {
    fill:blue;
    cursor: hand;
    cursor: pointer;
}
rect:hover {
    fill:blue;
        cursor: hand;
    cursor: pointer;
}

.legend{
    float: left;
    bottom: 0;
}
.legend td {
    padding:4px 5px;
    vertical-align:center;
}

.legendFreq, .legendPerc {
    align:left;
    width:5px;
}
svg{
    padding: 3px;
    border:1px solid #ccc;
    background-color: #eee	;
}

h1{
    text-align: center;
}
.buildjobUsageGraph{
    width: 690px;

}